{% extends "layout_bsa.html" %}

{% block page_title %}
Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">



      <div class="column-two-thirds left-floater">

      <h1 class="heading-large">Enter bank details</h1>

      <form class="form" method="get" action="dd-handler">

        <div class="form-group">

          <label class="form-label-bold" for="cardnumber">
           Full name of the beneficiary account holder
          </label>

          <input class="form-control medium-width" id="cardnumber" name="cardnumber" >

        </div>

        <div class="form-group">

          <label class="form-label-bold" for="cardnumber">
            Bank Identification Code
          </label>

          <input class="form-control medium-width" id="cardnumber" name="cardnumber" >

        </div>

        <div class="form-group">
        <div class="form-group">

          <label class="form-label-bold" for="holdername">
            International Bank Account Number (IBAN)
          </label>

          <input class="form-control max-width" id="holdername" name="holdername" >

        </div>

<!--
        <div class="multiple-choice nbg">
          <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
          <label for="checkbox-telephone-number">
            I am the account holder and can authorise <br> Direct Debit payments.
          </label>
        </div>
-->



        <br>
        <div class="form-item-wrapper">
          <div class="form-group">
            <a href="../ddv2-confirm" class="button" type="submit" >Next</a>
          </div>
        </div>
        <div class="form-group">
          <p>If you don’t have this information available, you can <a href="/awards/V6/AW8P">return to your application summary</a> and save your application for later.</p>
        </div>



              </form>

    </div>

  </div>

</main>

{% endblock %}
