{% extends "layout_bsa.html" %}

{% block page_title %}
  Do you want to be contact about your pension by text and email? - Transfers, Estimate and Awards
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Transfers, Estimate and Awards<p>
        <h1 class="heading-large">Do you want to allocate part of your pension?
      </div>

      <form action="nhs-handler" method="post-address" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend></legend>

            <legend class="visually-hidden">
            Do you want to allocate part of your pension?
            </legend>

            <div class="multiple-choice" data-target="getnhsno">
              <input id="yes" type="radio" name="hasnhsno" value="Yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="hasnhsno" value="No">
              <label for="no">No</label>
            </div>

          <div class="panel panel-border-narrow js-hidden" id="getnhsno">
             <p>Read the Allocation information on our website at: www.nhsbsa.nhs.uk/nhs-pensions. Complete the allocation of pension form (AW8/11A) and send it to us with this form</p>
            </div>
          </div>
        </fieldset>

        <div class="form-group">
          <a href="checkyouranswers" class="button" type="submit"  value="Next">Next</a>
        </div>

        <p class="navigation"><a class="cancel" href="../AW8P">Cancel</a></p>

      </form>

    </div>

  </div>

</main>

{% endblock %}
