{% extends "layout_bsa.html" %}

{% block page_title %}
  What is your address? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension</p>
        <h1 class="heading-large">What is your overseas address?</h1>
      </div>

      <p class="form-hint">This is the address we'll send your pension confirmation letter to.</p>

      <form action="international-address-v10-handler" method="get" class="form">

        <div class="form-group">
          <label for="my-autocomplete" id="autocomplete-customTemplates" class="form-label">Select your country</label>
          <div id="tt-customTemplates"></div>
        </div>

        <div class="form-group">
          <label class="form-label" for="lineone">Address line 1</label>
          <input class="form-control" id="lineone" name="lineone" type="text">
        </div>

        <div class="form-group">
          <label class="form-label" for="linetwo">Address line 2 (optional)</label>
          <input class="form-control" id="linetwo" name="linetwo" type="text">
        </div>

        <div class="form-group">
          <label class="form-label" for="linethree">Address line 3 (optional)</label>
          <input class="form-control" id="linethree" name="linethree" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="linefour">Address line 4 (optional)</label>
          <input class="form-control" name="linefour" id="linefour" value="" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="postcode">Post code (optional)</label>
          <input class="form-control" name="postcode" id="postcode" value="" type="text">
        </div>
        
        <div class="form-group">
          <input class="button" type="submit"  value="Next">
        </div>

      </form>

    </div>

  </div>

</main>

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
function customSuggest (query, syncResults) {
  var results = [
    { endonymLang: 'fr', endonym: 'République Française', name: 'France' },
    { endonymLang: 'de', endonym: 'Deutschland', name: 'Germany' },
    { endonymLang: 'es', endonym: 'España', name: 'Spain' }
  ]
  syncResults(query
    ? results.filter(function (result) {
        var resultContains = result.name.toLowerCase().indexOf(query.toLowerCase()) !== -1
        var endonymContains = result.endonym.toLowerCase().indexOf(query.toLowerCase()) !== -1
        return resultContains || endonymContains
      })
    : []
  )
}

function inputValueTemplate (result) {
  return result && result.name
}

function suggestionTemplate (result) {
  return result && '<strong class="bold">' + result.name + '</strong>' +
    ' (<span lang=' + result.endonymLang + '>' + result.endonym + '</span>)'
}

element = document.querySelector('#tt-customTemplates')
id = 'autocomplete-customTemplates'
accessibleAutocomplete({
  element: element,
  id: id,
  source: customSuggest,
  templates: {
    inputValue: inputValueTemplate,
    suggestion: suggestionTemplate
  }
})
  
</script>

{% endblock %}
