{% extends "layout_bsa.html" %}

{% block page_title %}
Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">
      <div class="column-two-thirds left-floater">
      <h1 class="heading-large">Enter bank details</h1>
      <form class="form" method="get" action="dd-handler">
        <div class="form-group">
          <label class="form-label-bold" for="cardnumber">
            Account number
          </label>
          <input class="form-control medium-width" id="cardnumber" name="cardnumber" type="number">
        </div>
        
        <div class="form-group">
          <fieldset>
            <div class="form-date">
              <legend class="form-label-bold">
                Sort code
              </legend>
                <div class="form-group form-group-month">
                  <input class="form-control" id="exmonth" name="exmonth" type="number">
                </div>
                <div class="form-group form-group-month">
                  <input class="form-control" id="exyear" name="exyear" type="number">
              </div>
                <div class="form-group form-group-month">
                  <input class="form-control" id="exyear" name="exyear" type="number">
              </div>
          </div>
          </fieldset>
        </div>
        <div class="form-group">
          <label class="form-label-bold" for="holdername">
            Account holder's name
          </label>
          <p class="hint">This can be your own account or a joint account with someone else.</p>
          <input class="form-control max-width" id="holdername" name="holdername" type="text">
        </div
        <br>
        <div class="form-item-wrapper">
          <div class="form-group">
            <a href="dougcheckbankdetailsuk" class="button" type="submit" >Next</a>
          </div>
        </div>
        <div class="form-group">
          <p>If you don’t have this information available, you can <a href="/awards/V9/AW8P">return to your application summary</a> and save your application for later.</p>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
