{% extends "layout_bsa.html" %}

{% block page_title %}
  Why are you claiming your deferred benefits? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension</p>
        <h1 class="heading-large">
          Bank payment details if you live abroad
        </h1>
      </div>

        <div class="form-group">
            <div class="notice">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">
                    You need to download, complete and return an overseas mandate form. We cannot process your application without it.
                </strong>
            </div>
        </div>

        <p>You can <a href="https://www.nhsbsa.nhs.uk/member-hub/applying-your-pension#jumplink5">download the overseas mandate for (opens in new window)</a> for your country from the NHS Business Services Authority.</p>

        <p>Once you have downloaded the form you will need to return to this page to continue your application.</p>


        <div class="multiple-choice">
          <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
          <label for="checkbox-telephone-number">I understand</label>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

    </div>

  </div>

</main>

{% endblock %}
