{% extends "layout_bsa.html" %}

{% block page_title %}
  Done - claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">
      <div class="done-panel">
        <h1 class="heading-large"><span id="done-tick"> </span>Form complete</h1>
        <p class="lede"c>Follow the next steps to complete your application</p>

      </div>

    <h2 class="heading-medium">What you need to do next</h2>



    <!-- <p><span class="heading-medium">1.</span> <a href="https://bsa2468.atlassian.net/secure/attachment/26343/DECfromTCT.docx">Download and print your declaration</a>.</p>
    <p><span class="heading-medium">2.</span> Ask a witness to sign your declaration.</p>
      <div  style="padding-left:27px;">
    <details>

<summary><span class="summary">Who a witness can be</span></summary>

<div class="panel panel-border-narrow">
      <p>A witness can be a parliamentary elector registered in the UK - they can elect from any part of the world.</p>
      <p>A witness can also be a professional outside of the UK, including:</p>
      <ul class="list list-bullet">
        <li>listed or retired officers of Her Majesty's armed forces</li>
        <li>   permanent or retired civil servants of any country in the British Commonwealth or in the Irish Republic</li>
        <li> members of Her Majesty's diplomatic service</li>
        <li>   authorised bank officials</li>
        <li>  physicians or surgeons registered in the territory where the Declaration is made</li>
        <li> ministers of religion</li>
        <li>  master of a merchant ship who is a British subject</li>
        <li>  Commonwealth or Irish Republic university graduate</li>
        <li>  magistrate</li>
        <li>  barrister, solicitor or advocate authorised to practise in the territory where the Declaration is made</li>
        <li>  Notary Public or other person competent by the law of the territory where the Declaration is made to administer oaths</li>
        <li>  Channel Isle electors</li>
        <li> Isle of Man electors</li>
      </ul>
      <p>A witness cannot be your spouse or civil partner.</p>
      </div>

</details>
</div>
    <p><span class="heading-medium">3.</span> Sign the declaration yourself.</p> -->
    <p>Send us your: </p>
    <div  style="padding-left:27px;">
      <ul class="list list-bullet">
        <li> birth certificate</li>
        <li> marriage certificate</li>
        <li> HMRC Lifetime Allowance protection certificate</li>
        <li>return address</li>
      </ul>
    </div>
      <p>You must send these to:</p>
        <div class="panel">
          <p style="margin-bottom:5px">NHS Pensions</p>
          <p style="margin-bottom:5px">PO Box 2269</p>
          <p style="margin-bottom:5px">Bolton</p>
          <p style="margin-bottom:5px">BL6 9JS</p>
        </div>



      <h2 class="heading-medium">What we'll do next</h2>

      <p>
If you send us any certificates, we'll send them back to you in the same way we received them. For example, recorded delivery.</p>
<p>Your pension will be processed within either:</p>


      <ul class="list list-bullet">
        <li>30 calendar days from date you retired</li>
        <li>30 days from the date NHS Pensions receives all the information required to calculate and pay your benefits</li>
      </ul>
      <p>When we process your application, we'll contact you if we need any further information from you and let you know whether this will cause a delay.</p>


  <h2 class="heading-medium">Save</h2>
  <ul class="list options-list">
        <li><a class="icon printer-icon" href="https://bsa2468.atlassian.net/secure/attachment/26343/DECfromTCT.docx" target="_blank">Print this page</a></li>
      </ul>
      <br>





  <p>
    <a class="button" href="../start/start">Finished</a>
  </p>

</div>


</main>

{% endblock %}
