{% extends "layout_bsa.html" %}

{% block page_title %}
  Check your answers - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <div class="heading-group">
      <p>Claim your NHS Pension</p>
      <h1 class="heading-large">
        Check your answers
      </h1>
    </div>


    <table id="review-table-one" class="check-table">
          <!-- about you -->
          <tr>
            <td>Have you accessed your Total Reward Statement before?</td>
            <td id="has-mobile"></td>
            <td><a href="mobile-question">Change</a></td>
          </tr>
          <tr>
            <td>Are you acting on behalf of a scheme member?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="mobile-question">Change</a></td>
          </tr>
          <tr>
            <td>What is your name?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="mobile-question">Change</a></td>
          </tr>
          <tr>
            <td>What is your address?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="mobile-question">Change</a></td>
          </tr>
          <tr>
            <td>What is your National Insurance number?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="mobile-question">Change</a></td>
          </tr>
          <tr>
            <td>Would you like to be contacted about your pension estimate by text and email?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="mobile-question">Change</a></td>
          </tr>
          <tr>
            <td>How would you like to pay for your estimate?</td>
            <td id="has-mobile">Cheque</td>
            <td><a href="mobile-question">Change</a></td>
          </tr>

          <!-- about your prepayment -->
      </table>

    <br>

    <form action="c-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <div class="form-group">
          <a href="donecheque" class="button" type="submit" value="Submit">Submit</a>
        </div>
      </div>
    </form>

    <p class="navigation"><a class="cancel" href="../AW8P">Cancel</a></p>

  </div>
  </div>
  </div>

</main>

{% endblock %}
