{% extends "layout_bsa.html" %}

{% block page_title %}
  Done - claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <!--div class="column-two-thirds">

    <div class="details">
      <h2 class="heading-medium">Pre-paymentetails</h2>
      <p class="valid">Valid dates</p>
      <h2 class="heading-medium bignumbers"><span>from:</span> 20 June 2016</h2>
      <h2 class="heading-medium bignumbers"><span>to:</span> 21 June 2017</h2>
    </div>
    </div-->

    <div class="column-two-thirds">
      <div class="done-panel">
        <h1 class="heading-large"><span id="done-tick"> </span>Application submitted</h1>
        <h2 class="heading-medium">Amount to pay: £120</h2>
        <br>
      </div>
      <h2 class="heading-medium">What you need to do next</h2>
    <p>The bank account details for electronic payments are as follows:</p>
      <ul class="bullet list">
        <ul class="list">
          <li class="bold">Sort code: 60-70-80</li>
          <li class="bold">Account number: 10021205</li>
        </ul>

  <p>
    <a class="button" href="start">Finished</a>
  </p>

</div>


</main>

{% endblock %}
