{% extends "layout_bsa.html" %}

{% block page_title %}
  Do you want to be contact about your pension by text and email? - Transfers, Estimate and Awards
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Transfers, Estimate and Awards<p>
        <h1 class="heading-large">Excluding your main NHS pension benefits were any of your separate pension benefits in payment
before 6 April 2006?
      </div>

      <form action="contact-handler" method="post-address" class="form">

        <div class="form-group">

          <fieldset class="inline">

            <div class="multiple-choice">
              <input id="yes" type="radio" name="emailntext" value="Yes" data-target="gross-annaul">
              <label for="yes">Yes</label>
            </div>


            <div class="multiple-choice">
              <input id="no" type="radio" name="emailntext" value="No">
              <label for="no">No</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="gross-annaul">
              <div class="form-group currency-input">
                        <label class="form-label" for="employer-contributions" id="employer-contributions-label">
                            <span> Gross annual rate before deduction of income tax from your your separate
      pension arrangements</span>
                            <span class="currency-input__unit">£</span>
                        </label>
                        <input class="form-control form-control-1-3 validate-numeric" id="employer-contributions" name="employer-contributions" type="number" aria-label="Enter amount in pounds" required="" aria-required="true">
                    </div>
      </div>
        </fieldset>

        </div>

        <div class="form-group">
          <a href="vaild" class="button" type="submit"  value="Next">Next</a>
        </div>

        <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

      </form>

    </div>

  </div>

</main>

{% endblock %}
