{% extends "layout_bsa.html" %}

{% block page_title %}
  Do you want to be contact about your pension by text and email? - Claim my NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Transfers, Estimate and Awards<p>
        <h1 class="heading-large">we will only be able to process your application if we treat your NHS Pension Scheme bene ts as entirely in excess of the LTA.
      </div>
      <p>This will mean the Scheme pays 55% of your lump sum and 25% of your pension directly to HMRC, unless you instruct NHS Pensions to defer payment of your bene ts until you have gathered the necessary information</p>

      <form action="contact-handler" method="post-address" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend></legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="emailntext" value="Yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="emailntext" value="No">
              <label for="no">No</label>
            </div>
        </fieldset>

        </div>

        <div class="form-group">
          <a href="vaild" class="button" type="submit"  value="Next">Next</a>
        </div>

        <p class="navigation"><a class="cancel" href="../AW8P">Cancel</a></p>

      </form>

    </div>

  </div>

</main>

{% endblock %}
