{% extends "layout_bsa.html" %}

{% block page_title %}
  Do you want to be contact about your pension by text and email? - Claim my NHS Pension

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim my NHS Pension<p>
        <h1 class="heading-large">Excluding your main NHS pension benefits were any of your separate pension benefits in payment
on or after 6 April 2006?
      </div>

      <form action="nhs-handler" method="post-address" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend class="visually-hidden">
            What date will you be returning work?
            </legend>

            <div class="multiple-choice" data-target="getnhsno">
              <input id="yes" type="radio" name="hasnhsno" value="Yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="hasnhsno" value="No">
              <label for="no">No</label>
            </div>

          <div class="panel panel-border-narrow js-hidden" id="getnhsno">
            <div class="form-group currency-input">
                        <label class="form-label" for="employer-contributions" id="employer-contributions-label">
                            <span> total combined percentage of LTA</span>
                            <span class="currency-input__unit">%</span>
                        </label>
                        <input class="form-control form-control-1-3 validate-numeric" id="employer-contributions" name="employer-contributions" type="number" aria-label="Enter amount in pounds" required="" aria-required="true">
                        <br>
                        <br>
                        <label class="form-label" for="employer-contributions" id="employer-contributions-label">
                            <span>Date of first Benefit Crystallisation </span>
                        </label>
                        <input class="form-control form-control-1-3 validate-numeric" id="employer-contributions" name="employer-contributions" type="number" aria-label="Enter amount in pounds" required="" aria-required="true">
                    </div>
            </div>
          </div>
        </fieldset>

        <div class="form-group">
          <a href="beforeapril06" class="button" type="submit"  value="Next">Next</a>
        </div>

        <p class="navigation"><a class="cancel" href="../AW8P">Cancel</a></p>

      </form>

    </div>

  </div>

</main>

{% endblock %}
