{% extends "layout_bsa.html" %}

{% block page_title %}
  Check your answers - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <div class="heading-group">
      <p>Claim your NHS Pension</p>
      <h1 class="heading-large">
        Check your answers
      </h1>
    </div>


    <table id="review-table-one" class="check-table">
          <!-- about you -->
          <tr>
            <td>Do you have any additional pension arrangements?</td>
            <td id="has-mobile">{{address}}</td>
            <td><a href="pensionarrangement">Change</a></td>
          </tr>
          <tr>
            <td>Will your NHS pension plus any additional pension benefits be more than £30,000 per year?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="annualpension">Change</a></td>
          </tr>
          <tr>
            <td>Do you have any separate pension benefits?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="annualpension">Change</a></td>
          </tr>
          <tr>
            <td>We’ll only be able to process your application if we treat your NHS Pension Scheme benefits in excess of the Lifetime Allowance.</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="beforeapril06">Change</a></td>
          </tr>
          <tr id="mobile-value">
            <td>Do you have HMRC Lifetime Allowance protection?</td>
            <td id="has-mobile">{{mobilenumber}}</td>
            <td><a href="beforeapril06">Change</a></td>
          </tr>
          <!-- about your prepayment -->
      </table>

    <br>

    <form action="c-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <div class="form-group">
          <a href="../AW8P" class="button" type="submit" value="Continue">Continue</a>
        </div>
      </div>
    </form>

  </div>
  </div>
  </div>

</main>

{% endblock %}
