{% extends "layout_bsa.html" %}

{% block page_title %}
        Which pension scheme or section? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension</p>
        <h1 class="heading-large">
        How would you like your lump sum?
        </h1>
      </div>




      <div class="form-group">
        <fieldset>

          <div class="multiple-choice" data-target="maxiumum">
            <input id="1995" type="radio" name="scheme" value="1995">
            <label class="single-line" for="1995">Maximum tax free amount</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="maxiumum">
            <div class="form-group currency-input">
                  <p>This will be 25% of your overall pension. This can be found on your <a href="https://www.nhsbsa.nhs.uk/member-hub/getting-estimate-your-pension">estimate</a>.</p>
                </div>
         </div>
          <div class="multiple-choice" data-target="amount">
            <input id="2008" type="radio" name="scheme" value="2008">
            <label class="single-line" for="2008">An amount less than the overall lump sum potential</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="amount">
            <div class="form-group currency-input">
              <p>This could be tax free if the amount is within 25% of your overall lump sum potential. You could get a tax charge if this is above 25% of your overall lump sum potential.</p>
                    <label class="form-label" for="employer-contributions" id="employer-contributions-label">
                        <span class="currency-input__unit">£</span>
                        <!-- <span class="error-message display-none" id="error-message-employer-contributions">Amount you have entered is incorrect</span> -->
                    </label>
                    <input class="form-control form-control-1-3 validate-numeric" id="employer-contributions" name="employer-contributions" type="number" aria-label="Enter amount in pounds" required="" aria-required="true">
                </div>
         </div>

          <div class="multiple-choice" data-target="tax">
            <input id="2015" type="radio" name="scheme" value="2015">
            <label class="single-line" for="2015">Maximum lump sum which may have a tax charge</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="tax">
            <div class="form-group currency-input">
              <p>This will be your maximum lump sum potential.</p>
            </div>
         </div>
             </div>
        </fieldset>
          <form action="2015typeoflumpsum-handler" method="post-address" class="form">
          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>
        </form>

    </div>

  </div>

</main>

{% endblock %}
