{% extends "layout_bsa.html" %}

{% block page_title %}
  Do you have any other pensions paid by Equiniti Paymaster? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension<p>
        <h1 class="heading-large">Deemed</h1>
      </div>




      <form  method="post-address" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you know your NHS number?
            </legend>

            <div class="multiple-choice" data-target="getnhsno">
              <input id="yes" type="radio" name="hasnhsno" value="Yes" aria-controls="getnhsno" aria-expanded="true">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="hasnhsno" value="No">
              <label for="no">No</label>
            </div>

          <div class="panel panel-border-narrow js-hidden" id="getnhsno" aria-hidden="false">
            <label class="form-label" for="nhsno"></label>
            <input class="form-control" name="nhsno" type="nhsno" id="nhsno">
          </div>
        </fieldset>

        </div>



        <div class="form-group">
         <a href="domiciliany" class="button">Next</a>
        </div>

      </form>

    </div>

  </div>

</main>

{% endblock %}
