{% extends "layout_bsa.html" %}

{% block page_title %}
  Do you have any other pensions paid by Equiniti Paymaster? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension<p>
        <h1 class="heading-large">domiciliany</h1>
      </div>




      <form action="paymaster-handler" method="post-address" class="form">

        <div class="form-group">


          <fieldset class="inline">
                  <legend class="visually-hidden"> </legend>
            <div class="multiple-choice">
              <input id="yes" type="radio" data-target="deemed">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice ">
              <input id="no" type="radio" name="paymaster" value="No">
              <label for="no">No</label>
            </div>
            <div class="form-group">
            <div class="panel panel-border-narrow js-hidden" id="deemed">
                <input class="form-control" id="example-phone-number" name="example-phone-number" type="text">
            </div>
            </div>

        </fieldset>

        </div>

        <div class="form-group">
         <a href="fullorparttime" class="button">Next</a>
        </div>

      </form>

    </div>

  </div>

</main>

{% endblock %}
