3{% extends "layout_bsa.html" %}

{% block page_title %}
 What is your name? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">



    <div class="column-two-thirds">

      <div class="done-panel">
        <h1 class="heading-large"><span id="done-tick"> </span>Application submitted</h1>
        <p class="lede" style="margin-bottom:0px;">Your reference number is:</p>
        <p class="lede bold">343N7</p>
      </div>

    


      </div>

    </div>

  </div>

</main>

{% endblock %}
