{% extends "layout_bsa.html" %}

{% block page_title %}
 What is your name? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">



    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension</p>
        <h1 class="heading-large">Employee I.D</h1>
      </div>

        <form action="name-handler" method="get" class="form">

          <div class="form-group">
            <input class="form-control" id="lastname" name="lastname" type="text">
          </div>

          <div class="form-item-wrapper">
            <div class="form-group">
              <a href="verify" class="button">Next</a>
            </div>
          </div>

        </form>


      </div>

    </div>

  </div>

</main>

{% endblock %}
