{% extends "layout_bsa.html" %}

{% block page_title %}
  Do you have any other pensions paid by Equiniti Paymaster? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension<p>
        <h1 class="heading-large">Does the member have any other disallowed days?</h1>
      </div>




      <form action="disallowed-handler" method="post-address" class="form">

        <div class="form-group">


          <fieldset class="inline">
                  <legend class="visually-hidden">HAHH</legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="disallowed" value="Yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="disallowed" value="No">
              <label for="no">No</label>
            </div>
        </fieldset>

        </div>

        <div class="form-group">
           <input class="button" type="submit" value="Next">
        </div>

      </form>

    </div>

  </div>

</main>

{% endblock %}
