{% extends "layout_bsa.html" %}

{% block page_title %}
  What is your status? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension</p>
        <h1 class="heading-large">
          What certificates have you seen for the member?
        </h1>
      </div>

      <form>
    <fieldset>

      <legend>
        <span class="body-text">Select all certificates you've seen.</span>
      </legend>
      <br>
      <div class="multiple-choice multiple-radio">
        <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
        <label for="waste-type-1">Birth certificate</label>
      </div>
      <div class="multiple-choice multiple-radio">
        <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
        <label for="waste-type-2">Marriage certificate</label>
      </div>
      <div class="multiple-choice multiple-radio">
        <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
        <label for="waste-type-3">Civil partnership certificate</label>
      </div>
      <div class="multiple-choice multiple-radio">
        <input id="waste-type-4" name="waste-types" type="checkbox" value="waste-farm-agricultural">
        <label for="waste-type-4">Spouse's or civil partner's birth certificate</label>
      </div>
      <div class="multiple-choice multiple-radio">
        <input id="waste-type-5" name="waste-types" type="checkbox" value="waste-farm-agricultural">
        <label for="waste-type-5">Death certificate</label>
      </div>
      <div class="multiple-choice multiple-radio">
        <input id="waste-type-6" name="waste-types" type="checkbox" value="waste-farm-agricultural">
        <label for="waste-type-6">Children's birth certificate</label>
      </div>
      <div class="multiple-choice multiple-radio">
        <input id="waste-type-7" name="waste-types" type="checkbox" value="waste-farm-agricultural">
        <label for="waste-type-7"> Enhanced, Primary or Fixed Protection certificate</label>
      </div>

      <div class="form-item-wrapper">
        <div class="form-group">
          <a href="pensionnumber" class="button">Next</a>
        </div>
      </div>

    </fieldset>
  </form>

    </div>

  </div>

</main>

{% endblock %}
