{% extends "layout_bsa.html" %}

{% block page_title %}
  Do you want an aditional lump sum by giving up part of your pension? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension<p>
        <h1 class="heading-large">1995 Section<br>
        Do you want to give up part of your pension to receive a lump sum?</h1>
      </div>
      <p>You’re only entitled to choose a larger lump sum if you have 1995 Scheme membership on or after 1 April 2008.</p>

      <form action="1995lumpsum-handler" method="post-address" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend></legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="lumpsum" value="Yes">
              <label for="yes">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="no" type="radio" name="lumpsum" value="No">
              <label for="no">No</label>
            </div>
        </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit"  value="Next">
        </div>

        <p class="navigation"><a class="cancel" href="../AW8P">Cancel</a></p>

      </form>

    </div>

  </div>

</main>

{% endblock %}
