{% extends "layout_bsa.html" %}

{% block page_title %}
        Which pension scheme or section? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension</p>
        <h1 class="heading-large">
          Which pension scheme or section are you in?
        </h1>
      </div>
      <p>If you are unsure what pension scheme or section you are in you can use the <a href="https://apps.nhsbsa.nhs.uk/choice/MemberID.html" target="_blank">scheme identifier tool (opens in a new window)</a>.</p>


      <form class="form" action="scheme-handler" method="get">
        <div class="form-group">
          <fieldset>
            <legend>
               <span class="body-text">Select all that apply</span>
            </legend>
              <br>
            <div class="multiple-choice multiple-radio" data-target="contact-by-email">
              <input id="1995" type="checkbox" name="s1995" value="true">
              <label class="single-line" for="1995">1995 Section</label>
            </div>
            <div class="multiple-choice multiple-radio" data-target="contact-by-email">
              <input id="2008" type="checkbox" name="s2008" value="true">
              <label class="single-line" for="2008">2008 Section</label>
            </div>
            <div class="multiple-choice multiple-radio" data-target="contact-by-email">
              <input id="2015" type="checkbox" name="s2015" value="true">
              <label class="single-line" for="2015">2015 Scheme</label>
            </div>





            </div>
          </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

        <p class="navigation"><a class="cancel" href="../AW8P">Cancel</a></p>

      </form>

    </div>

  </div>

</main>

{% endblock %}
