{% extends "layout_bsa.html" %}

{% block page_title %}
  Why are you claiming your deferred benefits? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension</p>
        <h1 class="heading-large">
          Why are you claiming your deferred benefits for the 2015 Scheme?
        </h1>
      </div>


      <form class="form" action="2015-handler" method="get">
        <div class="form-group">


            <div class="multiple-choice " data-target="contact-by-email">
              <input id="age" type="radio" name="benefit" value="age">
              <label class="single-line" for="age">Retirement based on your age</label>
            </div>
            <div class="multiple-choice " data-target="contact-by-email">
              <input id="benefit" type="radio" name="benefit" value="early">
              <label class="single-line" for="benefit">Early payment of deferred pension benefit.</label>
            </div>
            <div class="multiple-choice " data-target="contact-by-email">
              <input id="ill" type="radio" name="benefit" value="ill">
              <label class="single-line" for="ill">Early payment of deferred benefits because of ill health</label>
            </div>
            <div class="multiple-choice  " data-target="contact-by-email">
              <input id="commuted" type="radio" name="benefit" value="commuted">
              <label class="single-line" for="commuted">Commuted early payment of pension benefits based on ill health</label>
            </div>





            </div>
          </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>

    </div>

  </div>

</main>

{% endblock %}
