{% extends "layout_bsa.html" %}

{% block page_title %}
  Do you want to be contact about your pension by text and email? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension<p>
        <h1 class="heading-large">Do you want to allocate part of your pension?
      </div>
      <details>

    <summary><span class="summary">What is allocation?</span></summary>

    <div class="panel panel-border-narrow">

      <p>
      Allocation is where you permanently give up part of your pension now. If you die, whoever you have chosen will receive a pension. They have to be dependent on you when you retire and when you die.
      </p>

      <p>
        You’ll have to pay for a medical and we’ll send you more information about this.
      </p>

    <p>
      Surviving partner benefits are not affected if you choose to allocate.
      </p>

    </div>

  </details>
  <details>

<summary><span class="summary">How is this different to a death benefit nomination? </span></summary>

<div class="panel panel-border-narrow">

  <p>
    You can nominate someone to receive an adult dependant's pension and lump sum on death benefit if you die.
  </p>

  <p>
This does not affect the amount of pension you receive.
  </p>
</div>

</details>
<br>
      <form action="allocating-handler" method="post-address" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend></legend>

            <legend class="visually-hidden">
            Do you want to allocate part of your pension?
            </legend>

            <div class="multiple-choice" data-target="getnhsno">
              <input id="yes" type="radio" name="allocating" value="Yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="allocating" value="No">
              <label for="no">No</label>
            </div>


        </fieldset>
        <br>

        <div class="form-group">
        <input class="button" id="application" type="submit" value="Next">
        </div>

      </form>

    </div>

  </div>

</main>

{% endblock %}
