{% extends "layout_bsa.html" %}

{% block page_title %}
    Check your bank details - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <div class="heading-group">
      <p>Claim your NHS Pension</p>
      <h1 class="heading-large">
        Check your bank details
      </h1>
    </div>

    <table id="review-table-two" class="check-table">
      <tr>
        <td class="strong">Your account details</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Account holder's name</td>
        <td>{{holdername}}</td>
        <td><a href="">Change</a></td>
      </tr>
      <tr>
        <td>Account holder's address</td>
        <td>{{holderaddress}}</td>
        <td><a href="">Change</a></td>
      </tr>
      <tr>
        <td>Account number</td>
        <td>987654321</td>
        <td><a href="">Change</a></td>
      </tr>
      <tr>
        <td>Sort code</td>
        <td>01 01 01</td>
        <td><a href="">Change</a></td>
      </tr>
    </table>



    <br>
    <form action="dd-dec" method="get" class="form">
      <div class="form-item-wrapper">
        <div class="form-group">
          <a href="../AW8P" class="button" type="submit">Submit</a>
        </div>
    </div>
    </form>

    <p class="navigation"><a class="cancel" href="../AW8P">Cancel payment</a></p>

  </div>
  </div>
  </div>

</main>

{% endblock %}
