{% extends "layout_bsa.html" %}

{% block page_title %}
    Done - claim your NHS Pension - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="done-panel">
                <h1 class="heading-large"><span id="done-tick"> </span>Done</h1>
            </div>
            <p>
                <a class="button" href="/awards/V6/resume/nino">Continue</a>
            </p>
        </div>
    </main>

    {% endblock %}
