{% extends "layout_bsa.html" %}

{% block page_title %}
    Done - claim your NHS Pension - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="done-panel">
                <h1 class="heading-large">
                    <span id="done-tick"> </span>
                    Application saved
                </h1>
                <p class="lede">Your application has been saved</p>
            </div>
            <div class="form-group">
                <p>A link to your application has been sent to [email address].</p>
                <details>
                    <summary>
                        <span class="summary">Email address incorrect?</span>
                    </summary>
                    <div class="panel panel-border-narrow">
                        <p>Continue your application by clicking "Continue" below. You can save it again and enter the correct email address.</p>
                        <p>The email sent contains no personal data and we always check it is you before continuing with your application.</p>
                    </div>
                </details>
            </div>
            <div class="form-item-wrapper">
                <a class="button" href="/awards/V6/resume/outlook">Continue</a>
            </div>
        </div>
    </div>
</main>

{% endblock %}
