{% extends "layout_bsa.html" %}

{% block page_title %}
Application - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">



    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension</p>
        <h1 class="heading-xlarge">Declaration</h1>
      </div>

        <p>I confirm that:</p>
        <ul class="list list-bullet">
      <li>I’ve read the Retirement Guide for members of the NHS Pension Scheme and the application guidance
      notes</li>
      <li>the information I’ve given is correct and complete to the best of my knowledge</li>

       <li>if I become aware of any changes in the information I’ve given after I‘ve sent it, I will notify NHS Pensions as soon possible</li>

      <li>I’ll notify NHS Pensions if I recycle my NHS Pension Commencement Lump Sum</li>

      <li>I understand that I’ll have to repay any overpayment of pension if necessary</li>

      <li>if I have Enhanced, Primary, Fixed (2012 or 2014) or Individual Protection (2014) from HMRC I have
      enclosed a copy of the certificate</li>

      <li>if I have Fixed or Individual Protection 2016 I have enclosed a copy of HMRC's notification, confirming the
      reference and / or certificate number</li>

      <li>I understand that by providing a copy of HMRC's notification of 2016 Protection, I give permission for NHS
      Pensions to check and validate that protection with HMRC</li>

      <li>if I have Fixed Protection 2012, 2014 or 2016, I have checked for Benefit Accrual and have not
      had Benefit Accrual up to and including the date of my retirement</li>

      <li>I understand that, if I have claimed my 1995 Section benefits on normal age grounds or voluntary
      early retirement with actuarial reduction, my pension may be suspended if I return to NHS employment
      (including a Direction Body) within one calendar month. Work in the NHS which totals 16 hours or less a
      week is ignored for this purpose</li>

      <li>I understand that if I claim my benefits from the 1995 Section, I will not be able to rejoin the Scheme</li>

      <li> I’m entitled to apply for my retirement benefits from the NHS Pension Scheme</li>
    </ul>



      <a href="file-upload/done" class="button" id="application" type="submit" value="Submit">Agree and submit my application/</a>
      <br>
      <br>






      </div>

    </div>

  </div>

</main>

{% endblock %}
