{% extends "layout_bsa.html" %}

{% block page_title %}
  Check your answers - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <div class="heading-group">
      <p>Claim your NHS Pension</p>
      <h1 class="heading-large">
        Check your answers
      </h1>
    </div>


    <table id="review-table-one" class="check-table">
      <tr>
        <td>Which pension scheme or section?</td>
        <td id="has-mobile">{{address}}</td>
        <td><a href="whichscheme">Change</a></td>
      </tr>
    </table>

    <h2 id="for1995" class="heading-medium">1995 Section</h2>
    <hr id="for1995" style="margin-bottom: 0px;">

    <!-- 1995 -->
    <table id="review-table-one-1995" class="check-table">
      <tr>
        <td>Why are you claiming your deferred benefits?</td>
        <td id="has-mobile-1995">{{hasmobile}}</td>
        <td><a href="why1995">Change</a></td>
      </tr>
      <tr>
        <td>Do you want an lump sum by giving up part of your pension?</td>
        <td id="has-mobile-1995">{{hasmobile}}</td>
        <td><a href="lumpsum1995">Change</a></td>
      </tr>
      <tr>
        <td>How would you like your lump sum?</td>
        <td id="has-mobile-1995">{{hasmobile}}</td>
        <td><a href="1995typeoflumpsum">Change</a></td>
      </tr>
    </table>

    <h2 id="for2008" class="heading-medium">2008 Section</h2>
    <hr id="for2008" style="margin-bottom: 0px;">

    <!-- 2008 -->
    <table id="review-table-one-2008" class="check-table">
      <tr>
        <td>Why are you claiming your deferred benefits?</td>
        <td id="has-mobile-2008">{{hasmobile}}</td>
        <td><a href="why2008">Change</a></td>
      </tr>
      <tr>
        <td>Do you want an lump sum by giving up part of your pension?</td>
        <td id="has-mobile-2008">{{hasmobile}}</td>
        <td><a href="lumpsum2008">Change</a></td>
      </tr>
      <tr>
        <td>How would you like your lump sum?</td>
        <td id="has-mobile-2008">{{hasmobile}}</td>
        <td><a href="2008typeoflumpsum">Change</a></td>
      </tr>
    </table>

    <h2 id="for2015" class="heading-medium">2015 Scheme</h2>
    <hr id="for2015" style="margin-bottom: 0px;">

    <!-- 2015 -->
    <table id="review-table-one-2015" class="check-table">
      <tr>
        <td>Why are you claiming your deferred benefits?</td>
        <td id="has-mobile-2015">{{hasmobile}}</td>
        <td><a href="why2015">Change</a></td>
      </tr>
      <tr>
        <td>Do you want an lump sum by giving up part of your pension?</td>
        <td id="has-mobile-2015">{{hasmobile}}</td>
        <td><a href="lumpsum2015">Change</a></td>
      </tr>
      <tr>
        <td>How would you like your lump sum?</td>
        <td id="has-mobile-2015">{{hasmobile}}</td>
        <td><a href="2015typeoflumpsum">Change</a></td>
      </tr>
    </table>

    <br>

    <form action="c-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <div class="form-group">
          <a href="../AW8P" class="button" type="submit" value="Continue">Continue</a>
        </div>
      </div>
    </form>

  </div>
  </div>
  </div>

</main>

{% endblock %}
