{% extends "layout_bsa.html" %}

{% block page_title %}
	Is the total value of all your pensions less than £30,000? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	{% include "includes/back.html" %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="heading-group">
				<p>Claim your NHS Pension</p>
				<h1 class="heading-large">
					Is the total value of all your pensions less than £30,000?
				</h1>
			</div>
			<details>
				<summary><span class="summary">Why are you asking this?</span></summary>
				<div class="panel panel-border-narrow">
					<p>Small pensions (currently under £30,000) can be paid as a one off payment.</p>
					<p>More information is available in the <a href="https://www.nhsbsa.nhs.uk/sites/default/files/2018-01/Trivial%20commutation%20factsheet-20180126-%28V5%29.pdf" target="_blank">Trivial Commutation guide</a> (opens in another window).</p>
				</div>
			</details>
			<form class="form" action="thirty-k-handler" method="get">
				<div class="form-group">
					<fieldset>
						<div class="multiple-choice">
							<input id="radio-1" type="radio" name="thirtyK" value="true" />
							<label class="single-line" for="radio-1">Yes</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-2" type="radio" name="thirtyK" value="false" />
							<label class="single-line" for="radio-2">No</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-3" type="radio" name="thirtyK" value="true" />
							<label class="single-line" for="radio-3">Not sure</label>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<input class="button" type="submit" value="Next">
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}
