{% extends "layout_bsa.html" %}

{% block page_title %}
 What is your scheme membership number? - Transfers, Estimate and Awards
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">



    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Transfers, Estimate and Awards</p>
        <h1 class="heading-large">Application progress</h1>
      </div>


      <div class="">
      <h2 class="heading-medium">About you</h2>
      <p>Personal and employment details<p>
      <a href="about-you/nino">Start section</a>
      </div>

      <!-- <div class="">
      <h2 class="heading-medium">About your pension</h2>
      <p>Information about your pension including scheme or section details and lump sum</p>
      </div>

      <div class="">
      <h2 class="heading-medium">HM Revence and Customs information</h2>
      </div>

      <div class="">
      <h2 class="heading-medium">Payment details</h2>

      </div> -->

      <h2 class="heading-medium">Submit application</h2>
      <p>You can’t finish the application until you've completed all the sections.</p>
      <input class="button" type="submit" value="Continue" disabled="disabled" aria-disabled="true">
      <br>
      <br>
      <p><a href="start">Cancel</a></p>






      </div>

    </div>

  </div>

</main>

{% endblock %}
