{% extends "layout_bsa.html" %}

{% block page_title %}
Application progress - Transfers, Estimate and Awards
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">



    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Transfers, Estimate and Awards</p>
        <h1 class="heading-xlarge">Application progress</h1>
      </div>



      <table class="check-table">
  <thead>
    <tr>
      <th scope="col">Section</th>
      <th scope="col">Status</th>
      <th class="numeric" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Personal details</td>
      <td>NOT STARTED</td>
      <td><a href="about-you/post-address">Give an answer</a></td>
    </tr>
    <tr>
      <td scope="row">Employment details</td>
      <td >NOT STARTED</td>
      <td class="numeric"><a href="employment/details">Give an answer</a></td>
    </tr>
    <tr>
      <td scope="row">Pension details</td>
      <td>NOT STARTED</td>
      <td class="numeric"><a href="about-your-pension/whichscheme">Give an answer</a></td>
    </tr>
    <tr>
      <td scope="row">HM Revence and Customs</td>
      <td>NOT STARTED</td>
      <td class="numeric"><a href="HMRC/">Give an answer</a></td>
    </tr>
    <tr>
      <td scope="row">Payment details</td>
      <td>NOT STARTED</td>
      <td class="numeric"><a href="payment/ddpay">Give an answer</a></td>
    </tr>
  </tbody>
</table>





      <h2 class="heading-medium">Submit application</h2>
      <p>You can’t finish the application until you've completed all the sections.</p>
      <input class="button" type="submit" value="Continue" disabled="disabled" aria-disabled="true">
      <br>
      <br>
      <p><a href="start">Cancel</a></p>






      </div>

    </div>

  </div>

</main>

{% endblock %}
