{% extends "layout_bsa.html" %}

{% block page_title %}
    What is your National Insurance number? - Claim your NHS Pension - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <!-- errors and validation -->
            <div id="validation" class="error-summary visually-hidden" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">Your form contains errors</h1>
                <p>Check your answer:</p>
                <ul class="error-summary-list">
                    <li><a href="#nino">Your National Insurance number doesn't match</a></li>
                </ul>
            </div>

            <div class="heading-group">
                <p>Claim your NHS Pension</p>
                <h1 class="heading-large">What is your National Insurance number?</h1>
            </div>
            <form action="nino-resume-handler" method="get" class="form">
                <p class="form-hint">For example, 'QQ 12 34 56 C'</p>
                <div class="form-group">
                    <input class="form-control" id="nino" name="nino" type="text" autocomplete="off" />
                </div>
                <div class="form-item-wrapper">
                    <div class="form-group">
                        <!-- <a href="dob" class="button" type="submit" value="Submit">Next</a> -->
                        <input class="button" id="resume-application" type="submit" value="Next" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<!-- scripts -->
<script src="/../../../../public/javascripts/jquery-1.11.3.js"></script>
<script>
    if (document.location.href.includes("#1") || document.location.href.includes("#2") || document.location.href.includes("#3")) {
        $("#validation").removeClass("visually-hidden");
    } else {
        $("#validation").addClass("visually-hidden");
    }    
</script>

{% endblock %}
