{% extends "layout_bsa.html" %}

{% block page_title %}
You must use a paper form - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {# {% include "includes/back.html" %} #}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension<p>
        <h1 class="heading-large">We cannot accept your NHS Pension claim online</h1>
      </div>

      <div class="notice">
        <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
        </i>
        <p><strong class="bold-small">
            You must use a paper form
        </strong></p>
    </div>

    <h2 class="heading-medium">What to do next</h2>
      {# <p>You will need to apply for your NHS pension using the paper form.</p> #}
      
      <p>You must:</p>
      <ul class="list list-bullet">
        <li><a href="https://www.nhsbsa.nhs.uk/member-hub/applying-your-pension#jumplink4">download and complete the paper application form</a></li>
        <li>send the paper certificate(s) or a copy of HMRC's notification with the paper application form</li>
        <li>the certificate must confirm the 2016 protection reference number</li>
      </ul>
      <p>If we do not recieve the application and the certificate together your benefits may be delayed.</p>
      <p>Your pensions office will send a copy to HMRC.</p>


    </div>

  </div>

</main>

{% endblock %}
