{% extends "layout_bsa.html" %}

{% block page_title %}
How would you like to pay for your estimate? - Claim your NHS Pension
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="heading-group">
          <p>Claim your NHS Pension</p>
          <h1 class="heading-large">How would you like to pay for your estimate?</h1>
        </div>

        <form class="form" action="bank-handler" method="get">
          <div class="form-group">
            <fieldset>
              <div class="multiple-choice" data-target="contact-by-email">
                <input id="today" type="radio" name="bank" value="banktransfer">
                <label class="single-line" for="today">Bank Transfer</label>
              </div>
              <div class="multiple-choice" data-target="contact-by-email">
                <input id="today" type="radio" name="bank" value="cheque">
                <label class="single-line" for="today">Cheque</label>
              </div>
            </fieldset>
          </div>

        <div class="form-group">
                <input class="button" type="submit"  value="Next">
        </div>

        <p class="navigation"><a class="cancel" href="../AW8P">Cancel</a></p>

      </form>

    </div>

  </div>

</main>

{% endblock %}
