{% extends "layout_bsa.html" %}

{% block page_title %}
  Check your answers - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <div class="heading-group">
      <p>Claim your NHS Pension</p>
      <h1 class="heading-large">
        Check your answers
      </h1>
    </div>


    <table id="review-table-one" class="check-table">
          <!-- about you -->
          <tr>
            <td>Full name</td>
            <td id="has-mobile"></td>
            <td><a href="name#firstname">Change</a></td>
          </tr>
          <tr>
            <td>Date of birth</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="dob#day">Change</a></td>
          </tr>
          <tr>
            <td>Gender</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="gender">Change</a></td>
          </tr>
          <tr>
            <td>Address</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="post-address#lineone">Change</a></td>
          </tr>
          <tr>
            <td>National Insurance Number</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="nino#firstname">Change</a></td>
          </tr>

          <!-- about your prepayment -->
      </table>

    <br>

    <form action="c-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <div class="form-group">
          <a href="../AW8P" class="button" type="submit" value="Submit">Continue</a>
        </div>
      </div>
    </form>

  </div>
  </div>
  </div>

</main>

{% endblock %}
