{% extends "layout_bsa.html" %}

{% block page_title %}
  Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-full">
      <div class="heading-group">
        <h1 class="heading-xlarge">Claim your NHS Pension</h1>
      </div>
    </div>

    <div class="column-two-thirds">
       <p>This service should take approximately 20 minutes to complete.</p>
    <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Important</span>
  </i>
  <strong class="bold-small">
    This form should not be submitted until 3 months before your expected retirement date.
  </strong>
 </div>

    <h2 class="heading-medium">You will need:</h2>
    <ul class="list list-bullet">
       <!-- <li>proof of your date of birth</li> -->
       <li>UK bank account details</li>
       <li>details of any other pensions you have</li>
    </ul>

    <h2 class="heading-medium">You may also need:</h2>
    <ul class="list list-bullet">
    <li>date of marriage or civil partnership</li>
    <li>spouse or civil partners date of birth and National Insurance number</li>
    <li>dependant children's date of birth</li>
    <li>an HMRC Protection Certificate if you have been issued one</li>
  </ul>
  <h3 class="heading-small">Documents you will find helpful:</h3>
    <ul class="list list-bullet">
      <li>your recent estimate, if you have one</li>
      <li>your maximum tax free lump sum, this can be found on your <a href="https://www.nhsbsa.nhs.uk/member-hub/getting-estimate-your-pension">estimate</a>
      </ul>
  <br>


        <p class="button-group">
          <a class="button button-get-started" href="name" id="next">
            Start now
          </a>
        </p>



<!--
      <p>
        You will be asked if you know your NHS number. It's optional to provide this. Not having it to hand will not affect your ability to buy.
      </p>
-->
<!--
        <h3 class="heading-medium">Existing prepayments</h3>

        <p>If you already have prepaid you can <a class="" href="../return/return_start" id="next">view, print or change the details</a>.</p> -->

      </div>

    </div>

  </div>

</main>

{% endblock %}
