{% extends "layout_bsa.html" %}

{% block page_title %}
What is the name of the person you want to allocate some of your pension too?- Claim your NHS Pension
{% endblock %}
{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">



    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension
        <h1 class="heading-large">What is the name of the person you want to allocate some of your pension too?</h1>
      </div>





        <form action="childn-handler" method="get" class="form">

          <div class="form-group">
            <label class="form-label" for="firstname">
              First name
            </label>
            <input class="form-control" id="firstname" name="firstname" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="lastname">
              Last name
            </label>
            <input class="form-control" id="lastname" name="lastname" type="text">
          </div>

          <div class="form-item-wrapper">
            <div class="form-group">
              <a href="allocatedob" class="button" type="submit" value="Next">Next</a>
            </div>
          </div>

          <p class="navigation"><a class="cancel" href="../AW8P">Cancel</a></p>

        </form>


      </div>

    </div>

  </div>

</main>

{% endblock %}
