{% extends "layout_bsa.html" %}

{% block page_title %}
  Check your answers - Transfers, Estimate and Awards
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <div class="heading-group">
      <p>Transfers, Estimate and Awards</p>
      <h1 class="heading-large">
        This is your information?
      </h1>
    </div>


    <table id="review-table-one" class="check-table">
          <!-- about you -->
          <tr>
            <td>Full name</td>
            <td>Joe Bloggs</td>
            <td><a href="post-address">Change</a></td>
          </tr>
          <tr>
            <td>Address</td>
            <td>2 Road Street<br>
            City Town<br>
          Newcaslte<br>
        AB12 34</td>

            <td><a href="post-address">Change</a></td>
          </tr>
          <tr>
            <td>Date of birth</td>
            <td id="has-mobile">06/12/1990</td>
            <td><a href="mobile-question">Change</a></td>
          </tr>
          <tr>
            <td>National Insurance number</td>
            <td id="has-mobile">QQ 12 34 56 C</td>
            <td><a href="mobile-question">Change</a></td>
          </tr>
          <!-- about your prepayment -->
      </table>

    <br>

    <form action="c-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <div class="form-group">
          <a href="../AW8P" class="button" type="submit" value="Submit">Next</a>
        </div>
      </div>
    </form>

    <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

  </div>
  </div>
  </div>

</main>

{% endblock %}
