{% extends "layout_bsa.html" %}

{% block page_title %}
  Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">


   {% include "includes/phase_banner_beta.html" %}
   <div class="grid-row">
     <div class="column-two-thirds">
   <div class="heading-group">
     <p>Prototype </p>
     <h1 class="heading-xlarge">
      TEA Prototype
     </h1>
   </div>

   <h2 class="heading-medium">POL Team Application View</h2>
   <ul class="list list-bullet">
     <li><a href="awards/V7/login">Version 7 - 20th August 2018</a></li>
   </ul>
    
   <h2 class="heading-medium">AW8P</h2>
   <ul class="list list-bullet">
     <li><a href="awards/V6/start/start">Version 6 - 3rd August 2018 </a></li>
   </ul>

   <h2 class="heading-medium">AW8P - Save and Resume</h2>
   <ul class="list list-bullet">
     <li><a href="awards/V6/resume/nino">Version 6 - 3rd August 2018</a></li>
   </ul>

   <h2 class="heading-medium">AW8P - Beta Prototype</h2>
   <ul class="list list-bullet">
     <li><a href="awards/V5/start/start">Version 5 - 22nd January 2018 </a></li>
     <li><a href="awards/v4/start/start">Version 4 - 5th January 2018 </a></li>
     <li><a href="awards/V3/start/start">Version 3 - 18th December 2017</a></li>
     <li><a href="awards/V2/start/start">Version 2 - 10th December 2017</a></li>
     <li><a href="awards/V1/start/start">Version 1 - 13th November 2017</a></li>
   </ul>

   <!-- <h2 class="heading-medium">AW8</h2>
   <ul class="list list-bullet">
     <li><a href="employer-awards/start/start">Version 1 - 31st January 2018 </a></li>
   </ul> -->

</div>
</div>

</main>

{% endblock %}
