{% extends "layout_bsa.html" %}

{% block page_title %}
  TEA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">


   {% include "includes/phase_banner_beta.html" %}
   <div class="grid-row">
     <div class="column-two-thirds">
   <div class="heading-group">
     <p>Transfers, Estimate and Awards </p>
     <h1 class="heading-xlarge">
    TEA Prototype
     </h1>
   </div>

  <a class="button button-start" href="tea/start" role="button">Start now</a>






</div>
</div>

</main>

{% endblock %}
