{% extends "layout_bsa.html" %}

{% block page_title %}
  Check your answers - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <div class="heading-group">
      <p>Claim your NHS Pension</p>
      <h1 class="heading-large">
        Check your answers
      </h1>
    </div>


    <table id="review-table-one" class="check-table">
          <!-- about you -->
          <tr>
            <td>Do you have any pension arrangements which includes money purchase Additional Voluntary Contributions, which are not part of your NHS Pension?</td>
            <td id="has-mobile">{{address}}</td>
            <td><a href="pensionarrangement">Change</a></td>
          </tr>
          <tr>
            <td>Will your annual pension be more than £30,000?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="annualpension">Change</a></td>
          </tr>
          <tr>
            <td>Have you accessed your benefits with another pension scheme using pension flexibilities?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="annualpension">Change</a></td>
          </tr>
          <tr>
            <td>Excluding your main NHS pension benefits were any of your separate pension benefits in payment on or after 6 April 2006?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="beforeapril06">Change</a></td>
          </tr>
          <tr id="mobile-value">
            <td>Excluding your main NHS pension benefits were any of your separate pension benefits in payment before 6 April 2006?</td>
            <td id="has-mobile">{{mobilenumber}}</td>
            <td><a href="beforeapril06">Change</a></td>
          </tr>
          <tr id="email-value">
            <td>Do you have any valid HMRC Lifetime Allowance Charge protection?</td>
            <td id="has-mobile">{{emailaddress}}</td>
            <td><a href="vaild">Change</a></td>
          </tr>
          <!-- about your prepayment -->
      </table>

    <br>

    <form action="c-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <div class="form-group">
          <a href="../AW8P" class="button" type="submit" value="Submit">Submit</a>
        </div>
      </div>
    </form>

    <p class="navigation"><a class="cancel" href="../AW8P">Cancel</a></p>

  </div>
  </div>
  </div>

</main>

{% endblock %}
