{% extends "layout_bsa.html" %}

{% block page_title %}
Do you have any valid HMRC Lifetime Allowance protection? - Claim your NHS Pension
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/back.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Claim your NHS Pension<p>
        <h1 class="heading-large">Submit your claim later</h1>
      </div>

      <p>If you have benefits elsewhere and aren’t able to provide details about them, you can submit your claim at a later date, once you’ve got the information.</p>
      <p><a href="">return to NHSBSA website.</a></p>



</form>

    </div>

  </div>

</main>

{% endblock %}
