{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">You already have an existing application</h1>

      <p>
        If you have any questions, you can <a href="">contact us</a>.
        <!-- pharmacy staff will know your date of birth // leave the site -->
      </p>
      <p>
        <a href="">Return to NHS Business Services home</a>
      </p>
    </div>

  </div>

</main>

{% endblock %}
