{% extends "layout_bsa.html" %}

{% block page_title %}
Do you know your IBAN and SWIFT(Business Identification Code) code? - Claim your NHS Pension
{% endblock %}

{% block content %}


<main id="content" role="main">
      {% include "includes/phase_banner_beta.html" %}
      {% include "includes/back.html" %}

      <div class="grid-row">
            <div class="column-two-thirds">
                  <div class="heading-group">
                        <p>Claim your NHS Pension</p>
                        <h1 class="heading-large">
                              What are your bank account details?
                        </h1>
                  </div>
                  <div class="form-group">
                        <form action="iban-swift-handler" method="get" class="form" id="ukBank">
                              <div class="form-group">
                                    <label class="form-label" for="account-holder">Account holder's name</label>
                                    <input class="form-control ibanSwiftData" name="account-holder" type="text" id="account-holder">
                              </div>
                              <div class="form-group">
                                    <label class="form-label" for="iban-code">IBAN</label>
                                    <input class="form-control ibanSwiftData" name="iban-code" type="text" id="iban-code">
                              </div>
                              <div class="form-group">
                                    <label class="form-label" for="swift-code">SWIFT code (Business Identification Code)</label>
                                    <input class="form-control ibanSwiftData" name="swift-code" type="text" id="swift-code">
                              </div>

                              <div class="form-group">
                                    <details>

                                          <summary><span class="summary">I don’t know my IBAN and SWIFT code</span></summary>

                                          <div class="panel panel-border-narrow">

                                                <p>Contact your bank and they'll be able to give you this information.</p>
                                                <p>You can <a href="/awards/V6/AW8P">go back</a> and save this application for later.</p>

                                          </div>

                                    </details>
                              </div>

                              <button class="button" type="submit" value="Next">Next</button>

                        </form>
                  </div>
            </div>

      </div>


</main>


{% endblock %}